html,body{margin:0;padding:0;}
html{overflow-y:scroll;background:#f4f4f4;padding:30px;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:13px;}
	a:link,a:visited,a:hover{text-decoration:none;color:#5a7a9b;}//a:hover{color:#77A7C0;}
	hr{margin:25px 0 25px 0;border:none;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.6);padding:0;}
	.group:before,.group:after{content:'';display:table;}.group:after{clear:both;}.group{zoom:1;}
	.w{margin:0;}
		div.portrait{position:relative;float:left;margin:0 5px 5px 0;}
			.portrait img{max-width:120px;}
			div.portraitLabel{overflow:hidden;position:absolute;right:0;bottom:0;left:0;background:rgba(0,0,0,0.6);padding:0 3px 0 3px;height:16px;text-align:center;line-height:16px;font-size:9px;color:#fff;white-space:nowrap;}
		ul.menuList{margin:0;padding:0;list-style:none;}
			ul.menuList li{float:left;margin:2 5 2 5;overflow:hidden;padding:0 10 0 10;width:175px;white-space:nowrap;text-overflow:ellipsis;font-size:13px;color:#aaa;}
				ul.menuList li span{font-size:9px;}
		div.quotes{}
			div.block{padding:5px;}
			div.quote{margin:0 0 10px 0;padding:5px;}
				div.left{float:left;overflow:hidden;}
					.left img{width:60px;}
				div.right{overflow:hidden;vertical-align:middle;padding:0 7px 0 7px;}
					div.text{font-size:16px;}
					div.profile{margin:2px 0 0 0;line-height:10px;font-size:10px;font-style:italic;color:#aaa;}
						.profile a{color:#999;}